#include <iostream> 
#include <stdio.h>
#include <string.h>

using namespace std;

short code(char a)
{
    short b;
    b = (short)a;
    return b;
    }

int main()

{
	string s, k, m;
	int i, p;
	getline(cin,s);
	p = s.length();
	for (i = p - 1; i >= 0; --i) {
	    if (code(s[i])>64) {
		    if (code(s[i])<91) {k+=s[i];}
		}
		if (code(s[i])>96) {
		    if (code(s[i])<123) {k+=s[i] - 32;}
		}
		if (code(s[i])>47) {
		    if (code(s[i])<58) {k+=s[i];}
		}
	}
	p=k.length();
	for (i = p - 1; i >= 0; i=i-1) {
		m +=k[i];
	}
	if (m == k) {
		cout << '1';
	}
	else {
		cout << '0';
	}
	system("pause");

	return 0;
}
